* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-family: 'Abel', sans-serif;
}

/* Header part */
.header-area {
    background: #000;
    width: 100%;
    padding: 0 20px;
    z-index: 999;
    border-bottom: #fff;
}

/* Inside the header */
.header-container {
    width: 100%;
    margin: auto;
    display: table;
    background-color: #000;
}

.site-logo {
    float: left;
    font-family: 'Lexend', sans-serif;
}

.site-logo a {
    color: #ffc107;
    text-decoration: none;
    font-size: 24px;
    font-weight: 550;
    padding: 15px;
    font-style: italic;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.site-logo span {
    color: #fb2525;
    font-family: 'Poppins', sans-serif;
}

#site-logo-color i img {
    width: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Menu Bar */
.mobile-nav {
    display: none;
}

.site-nav-menu {
    float: right;
    padding-top: 10px;
}

.primary-menu {
    list-style: none;
}

/* Nag-line na 'yong list in a row */
.primary-menu li {
    display: inline-block;
    margin: 21px 5px;
}

.primary-menu a {
    color: #ffc107;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 10px;
    transition: 0.5s;
}

.primary-menu a:hover,
.primary-menu .active {
    color: #fb2525;
}


/* Red underline in this part */
.primary-menu li a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fb2525;
    bottom: 0px;
    left: 0;
    transition: all 0.5s;
}

.primary-menu li a:hover:after {
    width: 100%;
    color: #fb2525;
}

.primary-menu li .active:after {
    width: 100%;
    color: #fb2525;
}

/*  Wala pang menu bar here */
.mobile-nav {
    float: right;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    outline: none;
    cursor: pointer;
}


/* content of contacts */
.resto .mid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}


/* all of the box css */
.mid .info {
    border-radius: 10px;
    margin: 10px;
    align-self: center;
}


/* background image of contacts */
.mid {
    height: 90vh;
    padding: 100px;
    background-image: url(../images/herbs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}




/* how can we help? BOX */
.mid .left  {
    text-align: center;
    font-style: oblique;
    font-family: cursive;
}
.resto .mid .left {
    padding: 10px;
    background-color: white;
    height: 550px;
}
.resto .mid .left:hover {
    transform: translateY(-20px);
    transition: all ease-in-out 0.2s;
    background-color: firebrick;
    color: white;
}
/* ito yung input dun sa "how can we help" BOX */
.resto .left input {
    align-self: center;
    text-align: center;
    margin: 10px;
    padding: 10px ;
    width: 300px;
}
/* this is "type your message" */
.resto .left textarea {
    margin: 10px;
    padding: 10px;
    padding-bottom: 50px;   
    width: 300px;
}
/* this is button "send" */
.mid .left .btn button {
    padding: 5px 40px;
}




/* Contacts BOX */
.resto .left2 {
    padding: 10px;
    background-color: white;
    height: 400px;
}
.resto .left2:hover {
    background-color: firebrick;
    color: white;
    transform: translateY(-20px);
    transition: all ease-in-out 0.2s;
}





/* Email BOX */
.mid .right {
    padding: 10px;
    background-color: white;
    height: 400px;
}
.mid .right:hover {
    transform: translateY(-20px);
    transition: all ease-in-out 0.2s;
    background-color: firebrick;
    color: white;
}




/* Our Branch BOX */
.mid .right2 {
    padding: 10px;
    background-color: white;
    height: 400px;
}
.mid .right2:hover {
    transform: translateY(-20px);
    transition: all ease-in-out 0.2s;
    background-color: firebrick;
    color: white;
}


/* ito yung sa BOX na Contacts, Emails at Our Branch, para mawala yung bullet type nila */
.info ul li {
    list-style: none ;

}
/* responsiveness */
@media screen and (max-width: 1400px) {
    .resto .left2 {
        height: auto;
    }
    .mid .right {
        height: auto;
        padding-bottom: 20px;
    }
    .mid .right2 {
        height: auto;
    }
}
@media screen and (max-width: 1200px) {
    .head a {
        display: flex;
    }
    .resto .left input {
        flex-wrap: wrap;
    }
    .resto .mid {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        height: auto; 
    }
    
}
@media screen and (max-width: 395px) {
    .resto .mid {
        height: 100%;
        padding: 20px;
    }

}

@media only screen  and (max-width: 766px) {
    .site-nav-menu {
        float: none;
        position: absolute;
        background: #000;
        width: 100%;
        left: 0;
        top: 85px;
        padding: 30px 0px 19px 0px;
        border-top: 2px solid #fb2525;
        /* Clip path kung saan ilalagay ang menu */
        clip-path: circle(0% at 50% 0%);
        transition: all 0.5s;
    }

    /* Nawala ang li rito na part */
    .primary-menu li {
        display: block;
        text-align: center;
        margin: 25px 5px;
        font-size: 25px;
    }
    /* Menu bar lumabas na rito */
    .mobile-nav {
        display: block;
    }

    .mobile-menu {
        clip-path: circle(112% at 99% 0%);
    }
    .primary-menu li a:after {
        display: none;
    }
}

